<!DOCTYPE html>
<html lang="pt-br">

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../usuario46/css/signup.css" />
        <title>Cadatro resenha</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
            integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="shortcut icon" href="../usuario46/imagens/book.png">

        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
            
    </head>
    <style>
        .card {
            background-color: #ffffff80;
            padding: 30px;
            border-radius: 4%;
            box-shadow: 3px 3px 1px 1px #3e4ae960
        }

        button:hover {
            background-color: #272262;
            color: #fff;
        }
    </style>
</head>

<body>
    <%- include('navbar'); %>
        <div class="container justify-content-center">
            <div class="card" style="width: 700px;">
                <h3 style="text-align: center;">Cadastrar resenha sobre:</h3>
                <form action="../usuario46/cadastroResenha/<%=id%>" method="POST">
                    <% dadosObras.forEach(function(dados, index) { %>
                        <h2 style="text-align: center;">
                            <%= dados.nome %>
                        </h2>
                        <% }) %>

                            <div class="form-group">
                                <label for="mensagem">Resenha:</label>
                                <textarea id="mensagem" style="padding: 20px;" name="resenha" placeholder=" Faça sua resenha aqui" rows="20" cols="74"></textarea>
                            </div>

                            <button type="submit" class="button">
                                Cadastrar
                            </button>
                </form>
            </div>

        </div>

        </script>
</body>

</html>