<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../usuario46/css/landing.css">
    <title>Inicio</title>
</head>

<body>
    <section>
        <div class="circle"></div>
        
        <div class="content">
            <div class="text">
                <h2>Conheça: <br><span>LIGHT BOOK</span></h2>

                <p>Uma Plataforma web voltada em atrair pessoas, por meio da resenha de livros, a fim de exercitarem e aprimorarem suas mentes a partir da leitura.
                </p>
                <a href="/usuario46/loginUsuario"><Label>Login</Label></a>
                <a href="/usuario46/cadastroUsuario"><Label>Cadastro</Label></a>
            </div>
        </div>
        </ul>
        <div class="boxImg">

            <img src="../usuario46/imagens/book.png" alt="" class="img3">
        </div>
    </section>
</body>

</html>